
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/button.scss">
   
    <% if(success_msg!=''){ %>
      <div class="alert alert-success alert-dismissible fade show">
        
        <p><%= success_msg %></p>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    
      </div>
    <% } %>
    
    <% if(error_msg!=''){ %>
      <div class="alert alert-warning alert-dismissible fade show">
        
        <p><%= error_msg %></p>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    
      </div>
    <% } %>
    
    <% if(typeof errors !='undefined'){ %>
      <% errors.forEach(function(error){ %>
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= error.msg %></p>
        </div>
      <% }); %>
      <% } %>
    
    <form method="GET" action="/">
      <button type="submit" class="btn btn-info" style="margin:2%;"> <-- Welcome Page</button>
  </form>
   
    <div class="container">
        <div class="backbox">
          <div class="loginMsg">
            <div class="textcontent">
              <p class="title">Don't 've an account?</p>
              <p>Sign up to explore</p>
              <button id="switch1">Sign Up</button>
            </div>
          </div>
          <div class="signupMsg visibility">
            <div class="textcontent">
              <p class="title">Have an account?</p>
              <p>Log in to see to join Greenary Community</p>
              <button id="switch2">Log In</button>
            </div>
          </div>
        </div>
        <!-- backbox -->
    
        <div class="frontbox">
          <div class="login">
            <h2>Log In</h2>
            <form action="/users/login" method="POST">
            <div class="inputbox">
              <input type="text" name="email" placeholder="  Email">
              <input type="password" name="password" placeholder="  Password">
            </div>
            <p>Forget Password ?</p>
            <button type="submit">Log In</button>
          </form>
          </div>
    
          <div class="signup hide">
            <h2>Sign up</h2>
            <form action="/users/register" method="POST">
            <div class="inputbox">
              <input type="text" name="name" placeholder="  Your Name">
              <input type="text" name="email" placeholder="  Email">
              <input type="password" name="password" placeholder="  Password">
              <input type="password" name="password2" placeholder=" Confirm Password">
            </div>
            <button type="submit">Sign up</button>
          </form>
            
          </div>
    
        </div>
        <!-- frontbox -->
      </div>
  <section>
     <div class="leaf">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></img></div>
      <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="75px" width="75px" ></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
            
     </div>
     
     <div class="leaf leaf1">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
            
     </div>
     
     <div class="leaf leaf2">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="75px" width="75px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="75px" width="75px"></img></div>

       <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="75px" width="75px"></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="75px" width="75px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="75px" width="75px"></div>
            
     </div>
     </section>


<script  src="../script.js"></script>

