<div class="container">
  <br>
<h3 class="head" style=" text-align:center;
color:black;
line-height: 1.8;
letter-spacing:5px;
text-transform: uppercase;
text-shadow: 2px 2px rgb(240, 217, 217);"><strong>Travel and Tourism</strong></h3>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
<i class="fas fa-car bg-light"></i>
<ul class="navbar-nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/register">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/#aboutus">About us</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" href="/#contactus">Contact us</a>
  </li>
</ul>
</nav> 

<div class="container" style="background-color:cornsilk;">
<br>
<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
 <div class="carousel-item active">
<img src="/images/kanyakumari.jpg" alt="Kanya Kumari"  height="600" width="100%">
<div class="carousel-caption">
<h3>Kanya Kumari</h3>
</div>   
</div>
<div class="carousel-item">
<img src="/images/tajmahal.jpg" alt="Taj Mahal"  height="600" width="100%">
<div class="carousel-caption">
<h3>Taj Mahal</h3>
</div>   
</div>
<div class="carousel-item">
<img src="/images/thalakona.jpg" alt="Thala Kona" height="600" width="100%">
<div class="carousel-caption">
<h3>Thala Kona</h3>
</div>   
</div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>
</div>
<br>
</div>
<div class="jumbotron bg-info" style="text-align: center;" id="aboutus">
<h1>About us</h1>
<p><strong>Travel and Tourism</strong> is a one of the best travel agencies in India.We make your journey safe and interesting.</p>
</div>
<div class="jumbotron bg-dark" id="contactus">
<h3 class="contact" style=" color:white;
text-align:center;">Contact Us</h3>
<br>
<div class="card-deck">
  <div class="card bg-dark">
    <img src="/images/contactus.png" alt="contact us" width="100%">
    <div class="card-body text-center">
      <h5 style="color:white">Email: abcxyz@gmail.com</h5>
    </div>
  </div>

    <div class="card bg-light">
      <div class="card-body text-center">
        <form>
          <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your email">
          </div>
          
          <textarea class="form-control" rows="4" id="comment" placeholder="Send us your query here"></textarea>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
        </form>
      </div>
    </div>

  <div class="card bg-dark">
    <img src="/images/contactus.png" alt="contact us" width="100%">
    <div class="card-body text-center">
      <h5 style="color:white">Head Office @Tirupati</h5>
    </div>
  </div>
</div>
</div>

</div>

</div>