<link rel="stylesheet" href="../css/welcome.css">

<div class="container">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
<i class="fas fa-car bg-light"></i>
<ul class="navbar-nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/register">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/#aboutus">About us</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" href="/#contactus">Contact us</a>
  </li>
</ul>
</nav> 

<img src="../images/tree.svg" width="100%" height="100%">
</div>